#footer{
    text-align: center;
    padding: 4% 13%;
    background: #f7f7f7;
}

.flex-container {
    display: flex;
    padding: 125px 150px 15px 150px;
    justify-content: space-between;
    
  }

.title{
    display: flex;
    color: #ea8478;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    align-content: flex-end;
}

.fa-solid{
    font-size: 30px;
}

.back{
    text-align: right;
    margin-right: 150px;
    padding-top: 100px;
    color: #ea8478;
    font-size: 1.25rem;
}

a:-webkit-any-link {
    color:  #ea8478;
    cursor: pointer;
}
.gallery {
    display: flex;
    margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 30px;
    transition: 0.3s;
}
/*
.gallery:hover .gallery__image {
    filter: grayscale(1);
}*/

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.gallery__link {
    margin: 2px;
    overflow: hidden;
}
.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
    opacity: 1;
}
.gallery__thumb {
    position: relative;
    margin: 0;
    
   
}

.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
}
.gallery__image:hover {
    transform: scale(1.1);
}
.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

/*Footer*/

.social{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #e67d72;
    
}

.brands{
    padding: 40px;
}

.foot-brand{
    text-align:center;
}

.fa-brands{
    font-size: 50px;
    color: #ea8478;
    padding: 0 10px 0 10px;
    transform: scale(0.8);
    transition: transform 0.2s linear;
}

.fa-brands:hover{
    transition-duration: 0.2s;
    transform: rotate(25deg);   
    cursor: pointer;
    
}
